.content {
  padding-top: 5%;
  text-align: center;
}
.answer {
  max-width: 90%;
  width: 40em;
  height: 10vh;
  margin: 20px 0px;

}
.question-text {
  font-size: 1.2em;
}
#complete {
  display: none;
}
